@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');

table {
    display: block;
    height: 45vh;
    overflow: auto;
}

html {
    overflow: scroll;
    overflow-y: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.fondo {
    background-image: url('../img/fondo7.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    /* height: 100%; */
  }

  .menu {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    /* opacity: 0.5; */
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 50px 50px 50px 50px;
    z-index: 2;
    font-family: 'Source Sans Pro', sans-serif;
    width: 73%;
  }

  .salir {
    position: fixed;
    top: 80%;
    left: 20%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    /* opacity: 0.5; */
    background-color: rgba(240, 248, 255, 0.0);
    border-radius: 50px 50px 50px 50px;
    z-index: 1;
    font-family: 'Source Sans Pro', sans-serif;
    width: 20vh;
    
  }

  .contenido {
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      margin-top: 5%;
  }

  #titulo {
      margin: 2%;
  }

  .boton {
    width: 10vh;
  }

  .ciudad {
      width: 45vh;
      text-align: center;
  }

  .vuelo {
      width: 45vh;
      text-align: center;
  }

  .vuelo2 {
    width: 250vh;
    text-align: center;
  }

  .numero {
      width: 3vh;
  }

  .btn1 {
    border-radius: 30px 30px 30px 30px;
    width: 100%;
    opacity: 0.7;
    font-size: 200%;
    margin-left: -145%;
  }

  .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
  }

  .submit {
    width: 200%;
    background-color: rgba(240, 248, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
  }

  .clima {
    width: 100%;
    background-color: rgba(240, 248, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
  }

  .id {
    margin: 0%;
    padding: 0%;
  }

  .centrar {
    text-align: center;
  }